<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/list.css?after}" rel="stylesheet">
	<title>list</title>
</head>
<body>
<h1 class="title">Board</h1>
<div class="container">
	<div class="table-wrapper">
		<table>
			<thead>
			<tr>
				<th>No.</th>
				<th>Title</th>
				<th>Writer</th>
				<th>Date</th>
				<th>Hits</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="board: ${boards}">
				<td><a th:text="${board.id}" th:href="@{|/board/${board.id}|}"></a></td>
				<td><a th:text="${board.title}" th:href="@{|/board/${board.id}|}"></a></td>
				<td th:text="${board.writer}"></td>
				<td th:text="${board.createdTime}"></td>
				<td th:text="${board.hits}"></td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="btn-wrapper">
		<a class="btn" role="button" th:href="@{/}">Home</a>
		<a class="btn" role="button" th:href="@{/board/save}">Write</a>
	</div>
</div>
</body>
</html>