body {
  padding:1.5em;
  background: #f5f5f5;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;
}

.table-wrapper {
    width: 100%;
}

table {
  border: 1px #a39485 solid;
  font-size: .9em;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: center;
}

thead {
  font-weight: bold;
  width: 100%;
  color: #fff;
  background: #73685d;
}

td, th {
  padding: 1em .5em;
  vertical-align: middle;
  text-align: center;
}

td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
  width: 100%;

  & .btn {
      padding-inline: 70px;
  }

  & a {
    border: none;
    padding-block: 15px;
    padding-inline: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #73685d;
    border-radius: 5px;
    transition: opacity 0.3s ease;
  }

  & a:hover {
    opacity: 0.9;
  }
}

 @media all and (max-width: 768px) {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    text-align: right;
  }

  table {
    position: relative;
    padding-bottom: 0;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }

  thead {
    float: left;
    white-space: nowrap;
  }

  tbody {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
  }

  tr {
    display: inline-block;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid #a39485;
  }

  td {
    border-bottom: 1px solid #e5e5e5;
  }
}